.bar-chart {
  background-color: white;
  border: 1px solid black;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: red;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}